<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Vue</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
  </head>

  <body>
    <div id="main">
      <h2>{{message}}</h2>
      <div v-if="showBooks">
        <ul>
          <li v-for="book in  textBooks" :class="{fav: book.isFav}" @click="toggleFav(book)">
              <img :src="book.img" :alt="book.title">
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
          </li>
        </ul>
       </div>
      <div>
        <button @click="toggleShowBooks">
          <span v-if="showBooks">hide text books</span>
          <span v-else>show text books</span>
        </button>
      </div>

      <div v-show="showBooks">currently showing available books</div>
    </div>
      <a v-bind:href="url">visit this website for more books</a>
    

    <script src="index.js"></script>
  </body>
</html>
